/* Form */
.content {
  @apply flex flex-col items-center;
}

.content > * {
  @apply max-w-[572px];
}

.heading {
  @apply mb-12 mt-8 text-center md:my-12;
}

.heading > h1 {
  @apply m-0 mb-[16px] text-4xl/[2.625rem] uppercase;
}

.heading > p {
  @apply leading-6;
}

.modalForm {
  @apply bg-primary px-12 py-9;
}

.modalForm label {
  @apply mb-1 max-w-52 text-sm/[1.313rem];
}

.modalForm input,
.modalForm textarea {
  @apply w-full;
}

.message {
  @apply relative mb-[30px] mt-8;
}

.message svg {
  @apply absolute bottom-2 left-2 h-4 w-4 cursor-pointer;
}

.message p {
  @apply absolute;
}

.terms {
  @apply relative flex;
}

.terms span {
  @apply text-[0.875rem]/[1.313rem] text-brand-grey-900;
}

.terms span a {
  @apply border-b border-brand-grey-900;
}

.modalForm button[type='submit'] {
  @apply mt-8 bg-secondary px-[54px] py-[10px] text-base font-bold text-white md:mt-12;
}

.reportButton {
  @apply bg-black font-bold;
}

.customScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5em;
}

/* Handle on hover */
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
