.layoutWrapper {
    display: grid;
    grid-template-areas:"nav head"
                        "nav body";
    grid-template-columns: auto 1fr;
    grid-template-rows: 76px 1fr;
}

.layoutWrapper > header {
    border-bottom: 1px solid #A0A0A0;
    grid-area: head;
    @apply py-4 px-6 flex items-center justify-between;
}

.content {
    grid-area: body;
    @apply py-4 px-6 bg-[#FAFAFA];
}

@media print {
    .layoutWrapper {
        display: block !important;
    }
}