.layoutWrapper {
    display: grid;
    grid-template-areas:"nav head"
                        "nav body";
    grid-template-columns: 257px 1fr;
    grid-template-rows: 76px 1fr;
}

.layoutWrapper > header {
    border-bottom: 1px solid #A0A0A0;
    grid-area: head;
    @apply py-4 px-6 flex items-center justify-between;
}

.content {
    grid-area: body;
    padding: 16px 24px;
}