.layoutWrapper {
    display: grid;
    grid-template-areas:"nav head"
                        "nav body";
    grid-template-columns: 257px 1fr;
    grid-template-rows: 76px 1fr;
}

.layoutWrapper > header {
    border-bottom: 1px solid #A0A0A0;
    grid-area: head;
    @apply py-4 px-6 flex items-center justify-between;
}

.content {
    grid-area: body;
    padding: 16px 24px;
}

.navbar {
    grid-area: nav;
    background-color: #161616;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
}

.header {
    @apply py-12 px-14;
}

.link {
    @apply text-[#C8C8C8] text-lg leading-5 p-2 pl-[3.5rem] flex gap-4 hover:text-orange-400;
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: rem(25px);
    height: rem(25px);
}