@import '@mantine/core/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toastify-color-success: #389b48 !important;
    --toastify-color-error: #dc362e !important;
  }

  body {
    @apply bg-primary font-lato text-secondary;
  }

  /* Remove a default visibillity icon of password fields in MS Edge */
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}

@layer components {
  .section {
    @apply py-8 pt-[74px] md:py-10 lg:py-14;
  }

  .heading {
    @apply text-[28px]/normal lg:text-4xl/normal;
  }

  .btn {
    @apply rounded-0.5 px-4 py-2.5 text-center text-base font-bold;
  }

  .btn-icon {
    @apply flex size-10 items-center justify-center text-brand-grey-800 transition-colors duration-300 hover:text-secondary;
  }

  .btn-text {
    @apply text-secondary transition-colors hover:text-brand-orange-400;
  }

  .btn-primary {
    @apply border border-secondary bg-secondary text-primary transition-colors duration-300 hover:border-brand-orange-400 hover:bg-brand-orange-400;
  }

  .btn-secondary {
    @apply border border-brand-grey-400 bg-transparent text-secondary transition-colors duration-300 hover:bg-brand-grey-200;
  }

  .btn-cart {
    @apply bg-brand-orange-400 text-primary transition-colors duration-300 hover:bg-brand-orange-500 focus:bg-brand-orange-500;
  }

  .btn-disabled {
    @apply bg-secondary text-white opacity-40 hover:bg-secondary hover:text-white;
  }

  /*NavBtn*/
  .navBtn {
    @apply flex h-8 w-8 items-center justify-center rounded-full md:h-11 md:w-11;
  }

  .navBtn-icon {
    @apply h-5 w-5 stroke-[1.45px] md:h-6 md:w-6;
  }

  .navBtn-primary {
    @apply border border-secondary bg-secondary text-primary transition-colors duration-300 hover:border-brand-orange-400 hover:bg-brand-orange-400;
  }

  .navBtn-disabled {
    @apply border border-brand-grey-400 text-brand-grey-400;
  }

  .iconBtn {
    @apply text-secondary transition-all duration-300 hover:text-brand-grey-800 group-hover:text-brand-grey-800;
  }

  .iconBtn > svg {
    @apply h-6 w-6 stroke-2;
  }

  .navLink {
    @apply relative text-lg after:absolute after:-bottom-1 after:left-0 after:h-[1px] after:w-0 after:bg-secondary after:transition-all after:duration-500 after:hover:w-full after:group-hover:w-full;
  }

  .navLinkFooter {
    @apply relative font-bold uppercase after:absolute after:-bottom-1 after:left-0 after:h-[1px] after:w-0 after:bg-primary after:transition-all after:duration-500 after:hover:w-full after:group-hover:w-full;
  }

  /*BADGE*/
  .badge {
    @apply inline-block rounded-[40px] px-2 py-1 text-sm font-bold uppercase leading-normal text-primary;
  }

  .badge-primary {
    @apply bg-brand-blue;
  }

  .badge-warning {
    @apply bg-brand-yellow;
  }

  .badge-success {
    @apply bg-brand-green-400;
  }

  .badge-success-dark {
    @apply bg-brand-green-700;
  }

  .badge-danger {
    @apply bg-brand-red-500;
  }

  .badge-danger-dark {
    @apply bg-brand-red-800;
  }

  .badge-muted {
    @apply bg-brand-grey-500;
  }

  .pagination-root {
    @apply flex items-center justify-center;
  }

  .pagination-root div {
    @apply flex flex-nowrap items-center justify-center gap-0 rounded-0.5 border border-brand-grey-400;
  }

  .pagination-control {
    @apply relative flex h-10 w-10 items-center justify-center rounded-none border-transparent before:absolute before:-left-[2px] before:-top-[1px] before:h-10 before:w-[1px] before:bg-brand-grey-400 after:absolute after:-right-[1px] after:-top-[1px] after:h-10 after:w-[1px] after:bg-brand-grey-400 first:w-24 first:before:hidden first:after:hidden last:w-16 last:before:hidden last:after:hidden data-[active=true]:bg-secondary;
  }

  .pagination-dots {
    @apply flex h-10 w-10 items-center justify-center;
  }

  /*Checkbox input*/

  /*  Need add on checkbox element styles
    for root: 'group'

    Example:

    classNames={{
      root: 'group',
      body: 'checkbox-body',
      inner: 'checkbox-inner',
      input: 'checkbox-input',
      label: 'checkbox-label',
    }}
*/

  .checkbox-body {
    @apply flex items-center;
  }

  .checkbox-inner {
    @apply flex items-center justify-center;
  }

  .checkbox-input {
    @apply rounded-0.5 border border-secondary group-data-[checked=true]:bg-secondary;
  }

  .checkbox-label {
    @apply pl-2 text-sm/normal;
  }

  /*Radio input*/
  /*  Need add on Radio element styles
    for root: 'group'

    Example:

    classNames={{
      root: 'group',
      inner: 'radio-inner',
      radio: 'radio-radio',
    }}
*/
  .radio-inner {
    @apply flex items-center justify-center;
  }

  .radio-radio {
    @apply h-4 w-4 border-secondary group-data-[checked=true]:bg-secondary;
  }

  /*Text Input*/
  .text-input {
    @apply rounded-0.5 border border-brand-grey-400 bg-primary px-4 py-1 text-sm/normal placeholder:text-sm/normal placeholder:text-brand-grey-500 hover:border-secondary focus:border-secondary;
  }

  .form-root {
    @apply relative;
  }

  .form-input {
    @apply rounded-0.5 border border-brand-grey-400 bg-primary px-4 py-2.5 font-lato text-sm/normal text-black placeholder:text-sm/normal placeholder:text-brand-grey-500 hover:border-secondary focus:border-secondary;
  }

  .form-label {
    @apply mb-1 text-sm/normal;
  }

  .form-error {
    @apply absolute -bottom-3 left-0 text-[10px]/[12px] text-brand-red-400;
  }

  .form-error--input {
    @apply border-brand-red-400 text-secondary;
  }

  /* Modal Heading */
  .modal-heading {
    @apply flex items-center gap-3;
  }

  .modal-heading h2 {
    @apply mb-3 font-bold;
  }

  .modal-heading p {
    @apply text-sm text-[#A0A0A0];
  }
}

@layer utilities {
  .fix-line-clamp > p,
  .fix-line-clamp > ul,
  .fix-line-clamp > ol {
    @apply inline-block;
  }

  .fix-line-clamp span {
    @apply line-clamp-3 md:line-clamp-2;
  }
}

/*noinspection CssInvalidFunction*/
.mantine-Container-root {
  width: 100%;
  max-width: rem(414px);
  padding: 0 rem(16px);

  @media (min-width: rem(768px)) {
    max-width: rem(768px);
    padding: 0 rem(36px);
  }

  @media (min-width: rem(1280px)) {
    max-width: rem(1280px);
    padding: 0 rem(56px);
  }
}
