@import "@mantine/core/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
  }

  body {
    @apply bg-primary font-lato text-secondary;
  }
}

@layer components {
  .iconBtn {
    @apply h-6 w-6 stroke-2 text-secondary transition-all duration-300 hover:text-brand-grey-800 group-hover:text-brand-grey-800
  }

  .navLink {
    @apply relative text-lg after:absolute after:-bottom-1 after:left-0 after:h-[1px] after:w-0 after:bg-secondary after:transition-all after:duration-500 after:hover:w-full after:group-hover:w-full
  }
}


/*noinspection CssInvalidFunction*/
.mantine-Container-root {
  width: 100%;
  max-width: rem(414px);
  padding: 0 rem(20px);

  @media (min-width: rem(768px)) {
    max-width: rem(768px);
    padding: 0 rem(36px);
  }

  @media (min-width: rem(1280px)) {
    max-width: rem(1280px);
    padding: 0 rem(56px);
  }
}