/* OrderTabs */
.tab[data-active] {
    color: orange;
}

/* Layout */
.pageContent {
    @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: min-content 1fr;
    }

    @apply p-0;
}